html{
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1533237264985-ee62f6d342bb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
* {
    text-align: center;
}

body {
    font-family: 'lato', monospace;
    min-height: 400px;
   
    
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

table {
    border-style: none;
    border: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
  
  
    
}

h1 {
    font-size: 30px;
    margin: auto;
    color: white;
    background: #903749;
    width: 300px;
    border-radius: 7px;
    padding-bottom: 7px;
    padding-top: 7px;
  
}

th, tr, td {
    background: #364547;
    text-transform: uppercase;
    border-radius: 15px;
    border-style: none;
  color: white;
  border: 4px solid #364547;
  opacity: .9;
  
}


.acoes {
  width: 250px;
  border-style: none;
  background: #364547;
  color: white;
}

.novo-jogador {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
    font-size: 15px;
    margin: auto;
    color: black;
    background: #e48900;
    width: 220px;
    border-radius: 5px;
    padding-bottom: 7px;
    padding-top: 7px;
    text-transform: uppercase;
    font-weight: bold;
    
}

input {
  width: 115px;
  height: 35px;
  border-style: none;
  border-radius: 5px;
  color: black;
}

.ok {
  width: 35px;
  height: 35px;
  background: #364547;
  color: white;
  border-style: none;
  border-radius: 5px;
  
}

button{
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  background: #289672;
  color: white;
  border-style: none;
  border-radius: 4px;
}

button:hover {
  background: white;
  color: #289672;
  border-style: none;
  border-radius: 4px;
}